@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Oswald:wght@400;700&family=Rubik+Gemstones&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Oswald:wght@400;700&family=Rubik+Gemstones&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Oswald:wght@400;700&family=Rubik+Gemstones&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Oswald:wght@400;700&family=Rubik+Gemstones&family=Russo+One&display=swap");
main {
  margin-top: 80px;
}

.main {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.main .main__heading {
  margin-top: 50px;
  text-align: left;
}
.main .main__text {
  max-width: 600px;
}
.main .main__btn {
  margin-top: 40px;
  background-color: #FBAF39;
  color: #FFFFFF;
  border: 2px solid #FBAF39;
}
.main .main__btn:hover {
  border: 2px solid #FBAF39;
  background-color: #FFFFFF;
  color: #FBAF39;
}
.main .main__present {
  margin-top: 40px;
}
.main .main__present .main__present-img {
  width: 55px;
  height: 55px;
  position: relative;
  top: 5px;
  left: 10px;
}
.main .main__img {
  margin-top: 40px;
  margin-right: 120px;
  max-width: 400px;
}
.main .main__spot {
  position: absolute;
  width: 150px;
  display: none;
}
.main .orange-spot {
  max-width: 130px;
  top: 270px;
  right: 500px;
}
.main .blue-spot {
  max-width: 120px;
  top: 15px;
  right: 0;
}
.main .pink-spot {
  top: 500px;
  right: 250px;
}
.main .red-spot {
  width: 180px;
  top: 230px;
  right: 20px;
}
.main .skyblue-spot {
  top: -20px;
  right: 300px;
}

.description {
  margin-top: 150px;
}
.description .description__heading {
  text-align: center;
}
.description .description__text {
  max-width: 890px;
  text-align: center;
  margin: 0 auto;
}
.description .description__content {
  margin-top: 100px;
  display: flex;
}
.description .description__img {
  max-width: 550px;
  text-align: center;
}
.description .description__img figcaption {
  margin-top: 10px;
  text-align: center;
}
.description .description__btn {
  margin-top: 40px;
  background-color: #FBAF39;
  color: #FFFFFF;
  border: 2px solid #FBAF39;
}
.description .description__btn:hover {
  border: 2px solid #FBAF39;
  background-color: #FFFFFF;
  color: #FBAF39;
}
.description .description__items {
  margin-left: 90px;
}
.description .description__item {
  display: flex;
  margin-bottom: 40px;
}
.description .description__item:hover .description__item-img {
  transform: rotate(90deg);
}
.description .description__item-img {
  width: 40px;
  margin-right: 25px;
  transition: all 0.3s ease-out;
}
.description .description__item-heading {
  font-size: 24px;
  font-weight: 400;
  color: #373A3C;
}
@media (max-width: 420px) {
  .description .description__item-heading {
    font-size: 22px;
  }
}
.description .description__item-info {
  margin-top: 10px;
  max-width: 440px;
  font-size: 20px;
  font-weight: 400;
  color: #373A3C;
}

.scenarios {
  margin-top: 130px;
  position: relative;
  /* Description modals */
}
.scenarios .scenarios__heading {
  text-align: center;
}
.scenarios .scenarios__text {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.scenarios .scenarios__slider {
  padding: 0 60px;
}
.scenarios .scenarios__slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -25px;
  z-index: 10;
  font-size: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.scenarios .scenarios__slider .slick-prev {
  left: 0;
  background-image: url("../img/left-arrow.svg");
}
.scenarios .scenarios__slider .slick-next {
  right: 0;
  background-image: url("../img/right-arrow.svg");
}
.scenarios .scenarios__slider .slick-arrow {
  margin-top: 0;
}
.scenarios .scenario {
  margin: 0 10px;
  position: relative;
  cursor: pointer;
}
.scenarios .scenario__img {
  width: 100%;
  height: 100%;
  z-index: -1;
}
.scenarios .scenario__bg {
  background-color: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.scenarios .scenario__name {
  font-size: 40px;
  font-weight: bold;
  color: #FBAF39;
  text-align: center;
  font-size: 36px;
  color: #FFFFFF;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  z-index: 5;
  padding: 10px;
}
@media (max-width: 450px) {
  .scenarios .scenario__name {
    font-size: 32px;
  }
}
.scenarios .description__modal {
  position: fixed;
  z-index: 100;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 30px;
  overflow-y: auto;
  display: none;
}
.scenarios .description__modal .description__modal-main {
  cursor: default;
  position: relative;
  z-index: 100;
  flex-basis: 810px;
  height: 370px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}
.scenarios .description__modal .description__modal-content {
  max-width: 700px;
  display: flex;
  align-items: center;
}
.scenarios .description__modal .description__modal-content p {
  text-align: center;
}
.scenarios .description__modal .description__modal-content img {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.scenarios .scenarios__descr {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 400;
  color: #373A3C;
  text-align: center;
}

.discounts .discounts__heading {
  text-align: center;
  margin-top: 60px;
}
.discounts .discounts__items {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.discounts .discount {
  text-align: center;
  margin-right: 30px;
  max-width: 370px;
}
.discounts .discount:last-child {
  margin-right: 0;
}
.discounts .discount__img {
  height: 170px;
}
.discounts .discount__img img {
  max-width: 100%;
  max-height: 100%;
}
.discounts .discount__content {
  margin-top: 20px;
}
.discounts .discount__heading {
  font-size: 24px;
  font-weight: 400;
  color: #373A3C;
  font-weight: bold;
  margin-bottom: 30px;
}
@media (max-width: 420px) {
  .discounts .discount__heading {
    font-size: 22px;
  }
}
.discounts .discount__text {
  font-size: 20px;
  font-weight: 400;
  color: #373A3C;
}

.process .process__heading {
  text-align: center;
  margin-top: 100px;
}
.process .process__points {
  margin-top: 140px;
  display: flex;
  justify-content: space-between;
}
.process .point {
  padding: 20px;
}
.process .point:last-child {
  padding-right: 40px;
}
.process .point__img {
  position: relative;
}
.process .point__line {
  width: 110%;
  height: 3px;
  background-color: #f5f5f5;
  position: absolute;
  top: 30px;
  left: 60px;
  transition: all 0.3s ease-in;
}
.process .point__line-last {
  width: 80%;
}
.process .point__congrats-img {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 65px;
  right: -30px;
  display: none;
}
.process .congrats-cylinder {
  right: 0;
}
.process .point__line-active {
  background-color: #FBAF39;
}
.process .point-heading {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 400;
  color: #373A3C;
  font-weight: bold;
}
@media (max-width: 420px) {
  .process .point-heading {
    font-size: 22px;
  }
}
.process .point__text {
  max-width: 225px;
  margin-top: 20px;
}

.questions {
  margin-top: 100px;
}
.questions .questions__heading {
  text-align: center;
}
.questions .questions__list {
  margin-top: 70px;
  padding-bottom: 50px;
}
.questions .question {
  position: relative;
}
.questions .question__heading {
  font-size: 24px;
  font-weight: 400;
  color: #373A3C;
  border-bottom: 1px solid #373A3C;
  cursor: pointer;
  padding: 18px;
  padding-left: 0;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;
}
@media (max-width: 420px) {
  .questions .question__heading {
    font-size: 22px;
  }
}
.questions .question__heading:hover {
  background-color: #f5f5f5;
}
.questions .question:last-child .question__heading {
  border-bottom: 1px solid #373A3C;
}
.questions .question__answer {
  font-size: 20px;
  font-weight: 400;
  color: #373A3C;
  padding: 18px;
  padding-left: 0;
  background-color: white;
  display: none;
  overflow: hidden;
}
.questions .question__img {
  position: absolute;
  transform: rotate(90deg);
  width: 30px;
  height: 30px;
  top: 20px;
  right: 0;
  cursor: pointer;
  transition: all 0.3s ease-in;
}/*# sourceMappingURL=index.css.map */