@media (max-width: 1100px) {
    .equipment {

        .equipment__text {
            text-align: left;
        }

        .equipment__descr {
            text-align: left;
            max-width: 400px;
        }

        .equipment__img {
            width: 350px;
            left: 235px;
            top: 320px;
        }
        .equipment__svg {
            display: none;
        }

        .equipment__item-marker {
            top: 500px;
            left: 0px;
        }

        .equipment__item-armor {
            top: 885px;

            .equipment__hand-pointer {
                display: none;
            }
        }

        .equipment__item-gloves {
            top: 930px;
            right: 50px;
        }

        .equipment__item-mask {
            top: 1310px;
            right: 540px;

            figcaption {
                position: relative;
                top: 20px;
            }
        }

        .equipment__item-granade {
            display: block;

            img {
                width: 200px;
                height: 200px;
            }
        }
    }
}
