@import "./variables";
@import "./mixins";


main {
    margin-top: 120px;
}

.equipment {
    position: relative;
    padding-bottom: 1000px;

    .equipment__heading {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 0;
    }

    .equipment__text {
        text-align: center;
        margin-top: 40px;
        @include subheading;
        font-weight: bold;
    }

    .equipment__descr {
        text-align: center;
        margin-top: 30px;
        @include plainText;
    }

    .equipment__item {
        position: absolute;
    }

    .equipment__item-caption {
        text-align: center;
        max-width: 300px;
    }

    .equipment__item-marker {
        top: 200px;
        left: 0px;

        img {
            width: 330px;
            height: 300px;
        }

        figcaption {
            position: relative;
            top: -90px;
            left: -10px;
        }
    }

    .equipment__item-armor {
        top: 550px;
        left: 50px;

        img {
            width: 200px;
            height: 250px;
        }

        figcaption {
            position: relative;
            left: -20px;
        }

        .equipment__hand-pointer {
            width: 40px;
            height: 40px;
            position: absolute;
            top: -40px;
            right: 30px;
        }
    }

    .equipment__item-mask {
        top: 280px;
        right: 30px;
        text-align: center;

        img {
            width: 200px;
            height: 170px;
        }
    }

    .equipment__item-gloves {
        right: 0px;
        top: 600px;

        img {
            width: 200px;
            height: 200px;
        }
    }

    .equipment__item-granade {
        text-align: center;
        right: 0px;
        top: 1280px;
        display: none;

        figcaption {
            position: relative;
            top: 20px;
        }
    }

    .equipment__item-move {
        left: 750px;
        top: 1035px;
        display: none;
    }

    .equipment__img {
        position: absolute;
        display: inline;
        right: 320px;
        top: 480px;

        img {
            max-width: 100%;
        }
    }

    .equipment__item-outline {
        transition: all .4s ease;
        opacity: 0;
    }
}

.additional-equipment {
    .additional-equipment__heading {
        text-align: center;
        margin-top: 0;
    }

    .additional-equipment__text {
        @include subheading;
        font-weight: bold;
        text-align: center;
    }

    .additional-equipment__caption {
        margin-top: 30px;
        @include plainText;
        text-align: center;
        margin-bottom: 40px;
    }

    .additional-equipment__slider {
        padding: 0 60px;
        @include arrows;
        .slick-arrow {
            margin-top: 0;
        }

        .slick-list {
            margin: 0 auto;
        }
    }

    .additional-equipment__item {
        min-height: 460px;
        border: 3px solid $yellow;
        padding: 10px;
        margin: 0 20px;
        text-align: center;
    }

    .additional-equipment__item-img {
        min-height: 280px;
    }

    .additional-equipment__item-name {
        margin-top: 30px;
        text-align: center;
    }
}