@media (max-width: 1165px) {
    .equipment {
        padding-bottom: 1350px;

        .equipment__text {
            text-align: left;
        }

        .equipment__descr {
            text-align: left;
            max-width: 400px;
            margin-bottom: 40px;
        }

        .equipment__img {
            right: 20px;
            top: 300px;
        }

        .equipment__svg {
            display: none;
        }

        .equipment__item-marker {
            top: 500px;
            left: 0px;
        }

        .equipment__item-armor {
            top: 900px;

            .equipment__hand-pointer {
                display: none;
            }
        }

        .equipment__item-gloves {
            top: 950px;
            right: 50px;
        }

        .equipment__item-mask {
            top: 1310px;
            left: 20px;
            max-width: 280px;

            img {
                max-width: 100%;
            }

            figcaption {
                position: relative;
                top: 20px;
            }
        }

        .equipment__item-granade {
            display: block;

            img {
                width: 200px;
                height: 200px;
            }
        }
    }
}


@media (max-width: 700px) {
    .equipment {
        .equipment__img {
            max-width: 70%;
            top: 320px;
            right: 0;
        }
    }

    .additional-equipment {

        .additional-equipment__slider {
            padding: 0 40px;

            .slick-prev {
                left: -15px;
            }
            .slick-next {
                right: -15px;
            }

            .slick-list {
                display: flex;
                justify-content: center;
            }
        }
        .additional-equipment__item {
            overflow: hidden;
            min-height: auto;
        }
        .additional-equipment__item-img {
            min-height: auto;
        }
    }
}

@media (max-width: 600px) {
    .equipment {
        padding-bottom: 50px;

        .equipment__items {
            position: static;
        }

        .equipment__item {
            position: static;
            text-align: center;
            margin-bottom: 50px;

            figcaption {
                max-width: 100%;
            }
        }

        .equipment__img {
            max-width: 100%;
            position: static;
            margin-top: 50px;
        }

        .equipment__item-marker {
            margin-bottom: 0;
        }

        .equipment__item-armor {
            figcaption {
                left: 0;
            }
        }

        .equipment__item-mask {
            max-width: 100%;
        }
    }
}