@import "./variables";
@import "./mixins";

@media (max-width: 1000px) {
    .main {
        flex-direction: column;

        .main__images {
            align-self: flex-end;
        }

        .main__present {
            display: none;
        }

        .main__img {
            max-width: 100%;
            margin-right: 0;
        }

        .orange-spot {
            display: none !important;
        }

        .blue-spot {
            max-width: 200px;
            top: 580px;
            right: 420px;
        }

        .pink-spot {
            top: 775px;
            right: 520px;
        }

        .red-spot {
            top: 230px;
            right: 10px;
        }

        .skyblue-spot {
            top: 340px;
            right: 450px;
            z-index: -1;
        }
    }

    .description {
        .description__content {
            flex-direction: column;
            align-items: center;
        }

        .description__items {
            margin-top: 60px;
            margin-left: 0;
        }
    }

    .discounts {
        .discounts__items {
            flex-direction: column;
            align-items: center;
            margin-top: 0;
        }

        .discount {
            margin-right: 0;
            margin-top: 60px;
        }
    }

    .process {
        .process__points {
            margin-top: 80px;
            flex-direction: column;
            align-items: center;
        }

        .point {
            padding-right: 0;
            padding-left: 0;
            display: flex;
            justify-content: space-between;
        }

        .point__img {
            margin-top: 20px;
            margin-right: 40px;
            display: flex;
            flex-direction: column;
        }

        .point__line {
            z-index: -1;
            left: 30px;
            bottom: 0;
            width: 3px;
            height: 130%;
        }

        .point__line-last {
            height: 85%;
        }

        .point__text {
            max-width: 280px;
        }

        // Cancel firework
        .point__congrats-img {
            display: none !important;
        }
    }
}

@media (max-width: 700px) {
    .scenarios {
        .scenarios__slider {
            padding: 0 40px;

            .slick-prev {
                left: -15px;
            }

            .slick-next {
                right: -15px;
            }

            .slick-list {
                display: flex;
                justify-content: center;
            }
        }
    }
}

@media (max-width: 600px) {
    .main {
        .main__spot {
            display: none !important;
        }
    }
    .description {
        .description__item div>.description__item-img {
            margin-right: 45px;
        }
    }
}


@media (max-width: 450px) {
    .process {
        .point__img {
            margin-right: 20px;
        }
    }
}