@import "./variables";
@import "./mixins";

.main {
    display: flex;
    justify-content: space-between;
    position: relative;

    .main__heading {
        margin-top: 50px;
        text-align: left;
    }

    .main__text {
        max-width: 600px;
    }

    .main__btn {
        margin-top: 40px;
        background-color: $yellow;
        color: $white;
        border: 2px solid $yellow;

        &:hover {
            border: 2px solid $yellow;
            background-color: $white;
            color: $yellow;
        }
    }

    .main__present {
        margin-top: 40px;
        .main__present-img {
            width: 55px;
            height: 55px;
            position: relative;
            top: 5px;
            left: 10px;
        }
    }

    .main__img {
        margin-top: 40px;
        max-width: 400px;
    }

    .main__spot {
        position: absolute;
        width: 150px;
        display: none;
    }

    .orange-spot {
        top: 270px;
        left: 590px;
    }

    .blue-spot {
        top: 15px;
        left: 1150px;
    }

    .pink-spot {
        top: 500px;
        left: 860px;
    }

    .red-spot {
        width: 200px;
        top: 230px;
        left: 1035px;
    }

    .skyblue-spot {
        top: -20px;
        left: 780px;
    }
}

.description {
    margin-top: 150px;

    .description__heading {
        text-align: center;
    }

    .description__text {
        max-width: 890px;
        text-align: center;
        margin: 0 auto;
    }

    .description__content {
        margin-top: 100px;
        display: flex;
    }

    .description__img {
        max-width: 550px;
        text-align: center;

        figcaption {
            margin-top: 10px;
            text-align: center;
        }

    }

    .description__btn {
        margin-top: 40px;
        background-color: $yellow;
        color: $white;
        border: 2px solid $yellow;

        &:hover {
            border: 2px solid $yellow;
            background-color: $white;
            color: $yellow;
        }
    }

    .description__items {
        margin-left: 90px;
    }

    .description__item {
        display: flex;
        margin-bottom: 40px;

        &:hover .description__item-img {
            transform: rotate(90deg);
        }
    }

    .description__item-img {
        width: 35px;
        margin-right: 25px;
        margin-top: 5px;
        transition: all .3s ease-out;
    }

    .description__item-heading {
        @include subheading;
    }

    .description__item-info {
        margin-top: 10px;
        max-width: 440px;
        @include plainText;
    }
}

.scenarios {
    min-height: 100vh;
    margin-top: 130px;
    position: relative;

    .scenarios__heading {
        text-align: center;
    }

    .scenarios__text {
        text-align: center;
        margin-top: 40px;
    }

    .scenarios__slider {
        margin-top: 40px !important;
        max-width: 1170px;
        margin: 0 auto;
        @include arrows;

        .slick-prev:before,
        .slick-next:before {
            top: 42%;
        }

        .slick-prev:before {
            left: -7%;
        }

        .slick-next:before {
            right: -7%;
        }
    }

    .scenario {
        margin: 0 10px;
        margin-bottom: 20px;
        max-width: 360px;
        height: 370px;
        position: relative;
        cursor: pointer;
    }

    .scenario__img {
        width: 100%;
        height: 370px;
    }

    .scenario__bg {
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .scenario__name {
        @include heading;
        font-size: 36px;
        color: $white;
        text-align: center;
        position: absolute;
        top: 200px;
        left: 0;
        right: 0;
        z-index: 5;
        max-width: 100%;
        padding: 5px;
    }

    /* Description modals */

    .description__modal {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 30px;
        overflow-y: auto;

        // Firstly hide
        display: none;

        .description__modal-main {
            cursor: default;
            position: relative;
            z-index: 100;
            flex-basis: 810px;
            height: 370px;
            background-color: $smoke;
            display: flex;
            justify-content: center;
        }

        .description__modal-content {
            max-width: 700px;
            display: flex;
            align-items: center;

            p {
                text-align: center;
            }
    
            img {
                position: absolute;
                top: 20px;
                right: 20px;
                width: 30px;
                height: 30px;
                cursor: pointer;
            }
        }
    }

    .scenarios__descr {
        margin-top: 10px;
        @include plainText;
        text-align: center;
    }
}


.discounts {
    .discounts__heading {
        text-align: center;
        margin-top: 60px;
    }

    .discounts__items {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
    }

    .discount {
        text-align: center;
        margin-right: 30px;
        max-width: 370px;
    }

    .discount:last-child {
        margin-right: 0;
    }

    .discount__img {
        height: 170px;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .discount__content {
        margin-top: 20px;
    }

    .discount__heading {
        @include subheading;
        font-weight: bold;
        margin-bottom: 30px;
    }

    .discount__text {
        @include plainText;
    }
}

.process {
    .process__heading {
        text-align: center;
        margin-top: 100px;
    }

    .process__points {
        margin-top: 140px;
        display: flex;
        justify-content: space-between;
    }

    .point {
        padding: 20px;
    }
    .point__img {
        position: relative;
    }


    .point__line {
        width: 110%;
        margin-right: -50px;
        height: 3px;
        background-color: $smoke;
        position: absolute;
        top: 30px;
        left: 60px;
        transition: all .3s ease-in;
    }

    .point__congrats-img {
        width: 70px;
        height: 70px;
        position: absolute;
        top: 65px;
        right: -30px;
        display: none;
    }

    .congrats-cylinder {
        right: 0;
    }

    .point__line-active {
        background-color: $yellow;
    }

    .point__line-last {
        width: 200px;
    }

    .point__content {}

    .point-heading {
        margin-top: 30px;
        @include subheading;
        font-weight: bold;
    }

    .point__text {
        max-width: 225px;
        margin-top: 20px;
    }
}

.questions {
    margin-top: 100px;

    .questions__heading {
        text-align: center;
    }

    .questions__list {
        margin-top: 70px;
        padding-bottom: 50px;
    }

    .question {
        position: relative;
    }

    .question__heading {
        @include subheading;
        border-bottom: 1px solid $black;
        cursor: pointer;
        padding: 18px;
        padding-left: 0;
        width: 100%;
        text-align: left;
        outline: none;
        transition: 0.4s;

        &:hover {
            background-color: $smoke;
        }
    }

    .question:last-child .question__heading {
        border-bottom: 1px solid $black;
    }

    .question__answer {
        @include plainText;
        padding: 18px;
        padding-left: 0;
        background-color: white;
        display: none;
        overflow: hidden;
    }

    .question__img {
        position: absolute;
        transform: rotate(90deg);
        width: 30px;
        height: 30px;
        top: 20px;
        right: 0;
        cursor: pointer;
        transition: all .3s ease-in;
    }
}