@import "./mixins";
@import "./variables";

main {
    margin-top: 120px;
}

.fields {

    .fields__slider {
        position: relative;
        padding: 0 60px;
        @include arrows;
    }

    .field {
        text-align: center;

        img {
            max-width: 100%;
        }

        figcaption {
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
}

.additional-service {
    .additional-service__heading {
        margin-top: 70px;
    }

    .additional-service__items {
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
    }

    .additional-service__item {
        max-width: 350px;
    }
    .additional-service__item-img {
        position: relative;

        &:hover .additional-service__item-blackbg{
            opacity: 0.5;
        }
    }
    .additional-service__item-blackbg {
        position: absolute;
        top: 0;
        bottom: 7px;
        left: 0;
        right: 0;
        background-color: #000;
        opacity: 0;
        transition: all 0.3s ease;
    }

    .additional-service__item-name {
        @include subheading;
        font-weight: bold;
        margin-top: 20px;
    }

    .additional-service__item-text {
        @include plainText;
        margin-top: 20px;
    }
}

.instructors {
    .instructors__heading {
        margin-top: 100px;
        margin-bottom: 60px;
    }

    .instructors__slider {
        @include arrows;

        .slick-prev {
            left: 10%;
        }

        .slick-next {
            right: 10%;
        }
    }

    .instructor {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            display: inline-block;
            padding: 0 20px;
            border-radius: 50%;
        }

        figcaption {
            margin-top: 15px;
            text-align: center;
        }

        z-index: 1;
    }

    .instructor-hover__message {
        max-width: 400px;
        background-color: $smoke;
        border-radius: 20px;
        padding: 10px 20px;
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 2;
        display: none;
    }

    .instructor-hover__message-img {
        position: absolute;
        left: -80px;
        bottom: -50px;
        z-index: -1;
        border-radius: 0% !important;
    }
}

.order {
    margin-top: 90px;
}