body{
    background-color: #282626;
    display: flexbox;
    overscroll-behavior: none;
    position: relative;
    max-width: 100%;
}
h1, h2, p{
    color: #FFFFFF;
}
.pfo{
    position: relative;
    max-width: 100%;
}
.menu{
    display: flex;
    justify-content: right;
    margin-right: 25px;
}
.menu .menu_ul{
    display: flex;
    list-style: none;
    justify-content: right;
}
.menu_li{
    padding: 10px 20px 5px 20px;
    font-family: 'Acherus Feral';
    height: 30px;
    font-size: 16px;
    margin-right: 15px;
    transition: all 0.3s ease-out;
    border-radius: 5px;
}

.menu_li:hover {
    transform: translateX(-7px) ;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #eef2fb,
    0 0 21px #e2e7ff,
    0 0 42px rgb(47, 0, 255),
    0 0 82px rgb(47, 0, 255),
    0 0 92px rgb(47, 0, 255),
    0 0 102px rgb(47, 0, 255),
    0 0 151px rgb(47, 0, 255);
}
.menu_li a:hover{
    color: #fff;
}
.menu_li a{
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-out;
}
.logo{
    width: 60px;
    height: 60px;
    float: right;
}
.arrow{
    display: flex;
    margin: 20px;
    height: 30px;
    background-color: #848282;
    border-radius: 10px;
}
.arrow a {
    font-family: 'SF UI Display';
    margin: auto 15px ;
    text-decoration: none;
    color: #fff;
}

.p{
    margin: auto 15px;
    font-size: 18px;
}
svg{
    margin-left: 5px;
    color: #282626;
}
img{
    width: 344px;
    height: 510px;
    margin: 10px;
}
.row_1, .row_2, .row_3, .row_4{
    display: block;
    justify-content: space-around;
    margin-bottom: 10px;
}
.data{
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: #3795EC;
}
table{
    width: 200px;

}
.d3{
    position: absolute;
    width: 700px;
    height: 700px;
    left: 770px;
    top: 170px;
    z-index: -10;
    background: #D448F8;
    filter: blur(190px);
}
.d4{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 390px;
    top: 590px;
    z-index: -10;
    background: #3795EC;
    filter: blur(90px);
}
.d5{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 300px;
    top: 1700px;
    z-index: -10;
    background: #7f48eb;
    filter: blur(90px);
}
.d6{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 55px;
    top: 825px;
    z-index: -10;
    background: #66dec6;
    filter: blur(90px);
}
.d7{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 755px;
    top: 1375px;
    z-index: -10;
    background: #f5ef4e;
    filter: blur(90px);
}

@media (max-width: 1200px) {
    .pfo{
        max-width: 100%;
    }
    .menu_li a{
        text-decoration: none;
        color: #fff;
        padding: 5px 8px 5px 8px;
        font-family: 'Acherus Feral';
        height: 25px;
        font-size: 14px;
        transition: all 0.3s ease-out;
        border-radius: 5px;
    }
    .menu_li{
        padding: 5px 8px 5px 8px;
        display: flex;
        justify-self: center;
    }
    img{
        float: left;
        width: 344px;
        height: 510px;
        margin: 10px;
    }
}